.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(131, 58, 173);
}

.singleQuestion {
  width: 95%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 3px solid rgb(148, 113, 172);
  box-shadow: 4px 4px 8px rgb(58, 2, 104);
  color: rgb(95, 56, 128);
  padding: 20px;
  margin-top: 10px;
  border-radius: 25px;
  background: rgb(212, 189, 255);
  
}

.options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.singleOption {
  width: 46%;
  height: 50px;
  padding: 15px 20px;
  margin: 10px;
  border: 3px solid rgb(148, 113, 172);
  box-shadow: 4px 4px 8px rgb(58, 2, 104);
  border-radius: 25px;
  font-size: 18px;
  align-items: center;
  color: rgb(63, 35, 116);
  background-color: rgb(237, 221, 255);
}

@media (max-width: 614px) {
  .singleOption {
    width: 100%;
  }
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.select {
  background-color: rgb(57, 185, 132);
  color: white;
  box-shadow: 0 0 1px black;
}

.wrong {
  background-color: rgb(236, 102, 102);
  color: white;
  box-shadow: 0 0 1px black;
}
